* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Be Vietnam Pro", sans-serif;
    outline: none;
}
:root {
    --bg-color: #121212;
    --bg-danger:#ee0204;
    --bg-succes:#21683c;
    --bg-waring:#eeb669;
    --color-text-white:#fff;
    --color-text-white-f2:#f2f2f2;
    --color-gray-555:#555;
    --color-gray-666:#666;
    --color-gray-fff:#ffffff00;
}
body {
    background: var(--bg-color);
    color: var(--color-text-white-f2);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    line-height: 1.4;
}
.Simple-mode-container {
    height: 100vh;
    overflow: hidden;
}
.head-simple-mode {
    text-align: center;
    color: var(--color-text-white);
    font-size: 30px;
    background-color: var(--bg-succes);
    font-weight: bold;
    padding: 15px 20px;
    transition: all 0.3s;
}
.head-simple-mode.head-dange {
    background-color: var(--bg-danger);
}
.head-simple-mode.head-warning {
    background-color: var(--bg-waring);
}
.body-simple-mode {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    position: relative;
}

.info-simple-mode {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    flex: 1;
    padding-bottom: 20px;
}
.timeline .timeline-icon {
    position: relative;
    border-top: 1px solid var(--color-text-white);
}
.timeline .timeline-icon img {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-15px,-50%);
}
.timeline .timeline-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    grid-gap: 20px;
    padding: 10px 15px;
}
.timeline .timeline-text .txt-1 {
    font-size: 19px;
    font-weight: bold;
    color: var(--color-text-white);
}
.timeline .timeline-text .txt-2 {
    font-size: 16px;
    font-weight: 400;
    color: var(--color-gray-666);
}
.traffic-signs {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.speed-limit {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    flex-wrap: wrap;
    grid-gap: 5px;
    gap: 5px;
    flex: 1;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s;
}
.speed-limit .speed-limit__item,
.speed-limit[data-speed-limit='normal'] .speed-limit__item {
    display: none;
}
.speed-limit.hidden {
    opacity: 0;
    visibility: hidden;
}
.speed-limit[data-speed-limit='maximum-speed-limit-30'] .speed-limit--30,
.speed-limit[data-speed-limit='maximum-speed-limit-40'] .speed-limit--40,
.speed-limit[data-speed-limit='maximum-speed-limit-50'] .speed-limit--50,
.speed-limit[data-speed-limit='maximum-speed-limit-60'] .speed-limit--60,
.speed-limit[data-speed-limit='maximum-speed-limit-70'] .speed-limit--70,
.speed-limit[data-speed-limit='maximum-speed-limit-80'] .speed-limit--80,
.speed-limit[data-speed-limit='maximum-speed-limit-90'] .speed-limit--90,
.speed-limit[data-speed-limit='maximum-speed-limit-100'] .speed-limit--100,
.speed-limit[data-speed-limit='maximum-speed-limit-120'] .speed-limit--120,
.speed-limit[data-speed-limit='end-of-prohibition'] .speed-limit--end-of-prohibition,
.speed-limit[data-speed-limit='no-stopping'] .speed-limit--no-stopping,
.speed-limit[data-speed-limit='no-parking'] .speed-limit--no-parking,
.speed-limit[data-speed-limit='no-turn-left'] .speed-limit--no-turn-left,
.speed-limit[data-speed-limit='no-turn-right'] .speed-limit--no-turn-right,
.speed-limit[data-speed-limit='no-turn-left-no-u-turn'] .speed-limit--no-turn-left-no-u-turn,
.speed-limit[data-speed-limit='no-u-turn'] .speed-limit--no-u-turn,
.speed-limit[data-speed-limit='no-cars'] .speed-limit--no-cars,
.speed-limit[data-speed-limit='end-of-no-overtaking'] .speed-limit--end-of-no-overtaking,
.speed-limit[data-speed-limit='no-overtaking--g5'] .speed-limit--no-overtaking-g5,
.speed-limit[data-speed-limit='no-overtaking'] .speed-limit--no-overtaking,
.speed-limit[data-speed-limit='end-of-maximum-speed-limit-50'] .speed-limit--end-of-maximum-speed-limit-50,
.speed-limit[data-speed-limit='end-of-maximum-speed-limit-60'] .speed-limit--end-of-maximum-speed-limit-60,
.speed-limit[data-speed-limit='end-of-maximum-speed-limit-70'] .speed-limit--end-of-maximum-speed-limit-70,
.speed-limit[data-speed-limit='end-of-maximum-speed-limit-80'] .speed-limit--end-of-maximum-speed-limit-80,
.speed-limit[data-speed-limit='end-of-maximum-speed-limit-90'] .speed-limit--end-of-maximum-speed-limit-90,
.speed-limit[data-speed-limit='end-of-maximum-speed-limit-100'] .speed-limit--end-of-maximum-speed-limit-100,
.speed-limit[data-speed-limit='information--end-of-built-up-area'] .speed-limit--information-end-of-built-up-area,
.speed-limit[data-speed-limit='information-built-up-area'] .speed-limit--information-built-up-area,
.speed-limit[data-speed-limit='signs-all-1'] .speed-limit--signs-all-1 {
    display: block;
}

.speed-limit__item {
    animation: scaleUpDown 10s ease-in-out infinite;
    animation-duration: 10s;
}
.speed-limit__item img {
    height: 78px;
    width: auto;
}
.signposts {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 600px;
    width: 100%;
    margin: 10px auto;
    flex: 1;
}
.signposts .signposts-item .item-white,
.signposts[data-signposts="normal"] .signposts-item .item-white,
.signposts[data-signposts="turn-left"] .signposts-item--turn-left .item-gray,
.signposts[data-signposts="go-straight"] .signposts-item--go-straight .item-gray,
.signposts[data-signposts="turn-right"] .signposts-item--turn-right .item-gray {
    display: none;
}
.signposts[data-signposts="turn-left"] .signposts-item--turn-left .item-white,
.signposts[data-signposts="go-straight"] .signposts-item--go-straight .item-white,
.signposts[data-signposts="turn-right"] .signposts-item--turn-right .item-white {
    display: block;
}
.signposts-item {
    transition: all 0.3s;
    animation: scaleUpDown 10s ease-in-out infinite;
    animation-duration: 10s;
}
.signposts-item .item-white{
    animation: opacity 1s infinite;
}
.traffic-warning-signs {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    margin:10px auto;
    flex-wrap: wrap;
    grid-gap: 5px;
    gap: 5px;
    flex: 1;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s;
}
.traffic-warning-signs.hidden {
    opacity: 0;
    visibility: hidden;
}
.traffic-warning-signs .traffic-warning-signs__item,
.traffic-warning-signs[data-traffic-warning-signs="normal"] .traffic-warning-signs__item {
    display: none;
}
.traffic-warning-signs[data-traffic-warning-signs="traffic"] .traffic-warning-signs--traffic,
.traffic-warning-signs[data-traffic-warning-signs="speed"] .traffic-warning-signs--speed,
.traffic-warning-signs[data-traffic-warning-signs="crash"] .traffic-warning-signs--crash,
.traffic-warning-signs[data-traffic-warning-signs="cow"] .traffic-warning-signs--cow,
.traffic-warning-signs[data-traffic-warning-signs="flooded"] .traffic-warning-signs--flooded,
.traffic-warning-signs[data-traffic-warning-signs="bumps"] .traffic-warning-signs--bumps,
.traffic-warning-signs[data-traffic-warning-signs='end-of-prohibition'] .traffic-warning-signs--end-of-prohibition,
.traffic-warning-signs[data-traffic-warning-signs='no-stopping'] .traffic-warning-signs--no-stopping,
.traffic-warning-signs[data-traffic-warning-signs='no-parking'] .traffic-warning-signs--no-parking,
.traffic-warning-signs[data-traffic-warning-signs='no-turn-left'] .traffic-warning-signs--no-turn-left,
.traffic-warning-signs[data-traffic-warning-signs='no-turn-right'] .traffic-warning-signs--no-turn-right,
.traffic-warning-signs[data-traffic-warning-signs='no-turn-left-no-u-turn'] .traffic-warning-signs--no-turn-left-no-u-turn,
.traffic-warning-signs[data-traffic-warning-signs='no-u-turn'] .traffic-warning-signs--no-u-turn,
.traffic-warning-signs[data-traffic-warning-signs='no-cars'] .traffic-warning-signs--no-cars,
.traffic-warning-signs[data-traffic-warning-signs='end-of-no-overtaking'] .traffic-warning-signs--end-of-no-overtaking,
.traffic-warning-signs[data-traffic-warning-signs='no-overtaking--g5'] .traffic-warning-signs--no-overtaking-g5,
.traffic-warning-signs[data-traffic-warning-signs='no-overtaking'] .traffic-warning-signs--no-overtaking,
.traffic-warning-signs[data-traffic-warning-signs='end-of-maximum-speed-limit-50'] .traffic-warning-signs--end-of-maximum-speed-limit-50,
.traffic-warning-signs[data-traffic-warning-signs='end-of-maximum-speed-limit-60'] .traffic-warning-signs--end-of-maximum-speed-limit-60,
.traffic-warning-signs[data-traffic-warning-signs='end-of-maximum-speed-limit-70'] .traffic-warning-signs--end-of-maximum-speed-limit-70,
.traffic-warning-signs[data-traffic-warning-signs='end-of-maximum-speed-limit-80'] .traffic-warning-signs--end-of-maximum-speed-limit-80,
.traffic-warning-signs[data-traffic-warning-signs='end-of-maximum-speed-limit-90'] .traffic-warning-signs--end-of-maximum-speed-limit-90,
.traffic-warning-signs[data-traffic-warning-signs='end-of-maximum-speed-limit-100'] .traffic-warning-signs--end-of-maximum-speed-limit-100,
.traffic-warning-signs[data-traffic-warning-signs='information--end-of-built-up-area'] .traffic-warning-signs--information-end-of-built-up-area,
.traffic-warning-signs[data-traffic-warning-signs='information-built-up-area'] .traffic-warning-signs--information-built-up-area,
.traffic-warning-signs[data-traffic-warning-signs='signs-all-1'] .traffic-warning-signs--signs-all-1 {
    display: block;
}

.traffic-warning-signs__item {
    animation: scaleUpDown 10s ease-in-out infinite;
    animation-duration: 10s;
}
.traffic-warning-signs__item img {
    width: 78px;
    height: auto;
}
@keyframes scaleUpDown {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    10% {
        transform: scale(0.1);
        opacity: 1;
    }

    50% {
        transform: scale(0.5);
        opacity: 1;
    }
    80% {
        transform: scale(1);
        opacity: 1;
    }
    99% {
        transform: scale(1);
        opacity: 1;

    }
    100% {
        transform: scale(1);
        opacity: 0;

    }
}


.lanes {
    flex: 1;
    display: flex;
    width: 100vw;
    max-width: 600px;
    margin: auto;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    perspective: 600px;
    transform-style: preserve-3d;
}

.lanes[data-lanes="2"] ~ .car-simple-mode,
.lanes[data-lanes="2"] ~ .car-simple-mode[data-car="normal"],
.lanes[data-lanes="2"] ~ .car-simple-mode[data-car="fork-slight-right"], 
.lanes[data-lanes="2"] ~ .car-simple-mode[data-car="fork-slight-left"], 
.lanes[data-lanes="2"] ~ .car-simple-mode[data-car="fast"], 
.lanes[data-lanes="2"] ~ .car-simple-mode[data-car="stop"] {
    left: 55%;
}
.lanes[data-lanes="2"] ~ .car-simple-mode[data-car="turn-left"],
.lanes[data-lanes="2"] ~ .car-simple-mode[data-car="turn-right"] {
    left: 55%;
}
.lane {
    width: 5px;
    height: 100%;
    background: linear-gradient(to bottom, var(--color-gray-555) 50%, var(--color-gray-fff) 20%) 0 0 / 5px
        80px repeat-y;
    mask-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    -webkit-mask-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 1),
        rgb(0 0 0 / 0%)
    );
    animation: moveLane 1s linear infinite;
    animation-duration: 1s;
}

@keyframes moveLane {
    from {
        background-position-y: 0;
    }
    to {
        background-position-y: 80px;
    }
}
@keyframes slight-shake {
    0% {
        transform: translate(0px, 0px);
    }
    25% {
        transform: translate(-0.5px, 0.5px);
    }
    50% {
        transform: translate(0.5px, -0.5px);
    }
    75% {
        transform: translate(-0.5px, 0px);
    }
    100% {
        transform: translate(0px, 0.5px);
    }
}
.car-simple-mode {
    position: absolute;
    bottom: 110px;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
}
.car-simple-mode .car-img {
    width: calc(100vw / 15);
}
.car-simple-mode .car-turn .turn-item {
    transform-origin: bottom center;
    transform: rotateX(70deg) scaleY(1.2);
    animation: opacity 1s infinite;
}
.car-simple-mode .car-turn .turn-left {
    transform: rotateX(70deg) scaleY(1.2) translate(-45px, -20px);
    transform: rotateX(70deg) scaleY(1.2) scaleX(0.6) translate(-40px, 0px);
}
.car-simple-mode .car-turn .turn-right {
    transform: rotateX(70deg) scaleY(1.2) translate(45px, -20px);
    transform: rotateX(70deg) scaleY(1.2) scaleX(0.6) translate(40px, 0px);
}

@keyframes opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.car-simple-mode .car-model {
    display: flex;
    align-items: center;
    justify-content: center;
    animation: slight-shake 0.5s ease infinite;
}
.car-simple-mode .car-img:not(.car-normal) {
    display: none;
}
.car-simple-mode[data-car="fork-slight-right"] .car-img,
.car-simple-mode[data-car="fork-slight-left"] .car-img,
.car-simple-mode[data-car="stop"] .car-img,
.car-simple-mode[data-car="fast"] .car-img {
    display: none;
}
.car-simple-mode[data-car="fork-slight-right"] .car-fork-slight-right,
.car-simple-mode[data-car="fork-slight-left"] .car-fork-slight-left,
.car-simple-mode[data-car="stop"] .car-stop,
.car-simple-mode[data-car="fast"] .car-fast {
    display: block;
}

.car-simple-mode .turn-item,
.car-simple-mode[data-car="normal"] .turn-item,
.car-simple-mode[data-car="turn-left"] .car-img,
.car-simple-mode[data-car="turn-right"] .car-img {
    display: none;
}
.car-simple-mode[data-car="turn-left"] .turn-item.turn-left,
.car-simple-mode[data-car="turn-left"] .car-fork-slight-left,
.car-simple-mode[data-car="turn-right"] .car-fork-slight-right,
.car-simple-mode[data-car="turn-right"] .turn-item.turn-right {
    display: block;
}

.current-location {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    color: #999;
    font-size: 19px;
    text-align: center;
    padding: 10px;
    background-color: var(--bg-color);
}
/* .current-location .text {
    display: inline-block;
    padding: 2px 4px;
    background-color: #121212;
} */
/* ----------------------------------------------------- responsive */
@media (max-width: 1536px) {
    .car-simple-mode .car-img {
        width: calc(100vw / 14);
    }
}
@media (max-width: 1280px) {
    .car-simple-mode .car-img {
        width: calc(100vw / 12);
    }
}
@media (max-width: 1024px) {
    .head-simple-mode {
        font-size: 24px;
    }
    .car-simple-mode {
        bottom: 100px;
        bottom: 40px;
    }
    .car-simple-mode .car-img {
        width: calc(100vw / 10);
    }
    .lane {
        width: 4px;
        background: linear-gradient(to bottom, var(--color-gray-555) 50%, var(--color-gray-fff) 20%) 0 0 /
            4px 80px repeat-y;
    }

    .lanes[data-lanes="2"] ~ .car-simple-mode,
    .lanes[data-lanes="2"] ~ .car-simple-mode[data-car="normal"],
    .lanes[data-lanes="2"] ~ .car-simple-mode[data-car="fork-slight-right"], 
    .lanes[data-lanes="2"] ~ .car-simple-mode[data-car="fork-slight-left"], 
    .lanes[data-lanes="2"] ~ .car-simple-mode[data-car="fast"], 
    .lanes[data-lanes="2"] ~ .car-simple-mode[data-car="stop"] {
        left: 57%;
    }
    .lanes[data-lanes="2"] ~ .car-simple-mode[data-car="turn-left"],
    .lanes[data-lanes="2"] ~ .car-simple-mode[data-car="turn-right"] {
        left: 57%;
    }
}
@media (max-width: 992px) {
    .head-simple-mode {
        font-size: 20px;
        padding: 10px 15px;
    }
    .car-simple-mode .car-img {
        width: calc(100vw / 6);
    }
    .lane {
        width: 3px;
        background: linear-gradient(to bottom, var(--color-gray-555) 50%, var(--color-gray-fff) 20%) 0 0 /
            3px 80px repeat-y;
    }

    .lanes[data-lanes="2"] ~ .car-simple-mode,
    .lanes[data-lanes="2"] ~ .car-simple-mode[data-car="normal"],
    .lanes[data-lanes="2"] ~ .car-simple-mode[data-car="fork-slight-right"], 
    .lanes[data-lanes="2"] ~ .car-simple-mode[data-car="fork-slight-left"], 
    .lanes[data-lanes="2"] ~ .car-simple-mode[data-car="fast"], 
    .lanes[data-lanes="2"] ~ .car-simple-mode[data-car="stop"] {
        left: 63%;
    }
    .lanes[data-lanes="2"] ~ .car-simple-mode[data-car="turn-left"],
    .lanes[data-lanes="2"] ~ .car-simple-mode[data-car="turn-right"] {
        left: 63%;
    }
}
@media (max-width: 767px) {
    .car-simple-mode .car-img {
        width: calc(100vw / 4);
    }
    .lanes[data-lanes="2"] ~ .car-simple-mode[data-car="turn-left"],
    .lanes[data-lanes="2"] ~ .car-simple-mode[data-car="turn-right"] {
        left: 66%;
    }
    .lanes[data-lanes="2"] ~ .car-simple-mode,
    .lanes[data-lanes="2"] ~ .car-simple-mode[data-car="normal"],
    .lanes[data-lanes="2"] ~ .car-simple-mode[data-car="fork-slight-right"], 
    .lanes[data-lanes="2"] ~ .car-simple-mode[data-car="fork-slight-left"], 
    .lanes[data-lanes="2"] ~ .car-simple-mode[data-car="fast"], 
    .lanes[data-lanes="2"] ~ .car-simple-mode[data-car="stop"] {
        left: 66%;
    }
}
@media (max-width: 400px) {
}
